html,body{margin:0; padding:0;}
ul,li{padding:0; margin:0; list-style:none;}
input,textarea{box-sizing:border-box;}
textarea:focus{outline:none;}
button:focus{outline:none;}
a{color:inherit;}
a:focus{color:inherit!important;}
*:focus{outline:none;}

.lang{display:none;}
.lang:first-child{display:inline;}
.df{display:flex; flex-direction:row;}
.df-r{flex-direction: row;}
.df-c{flex-direction: column;}
.ai-c{align-items: center;}
.ai-e{align-items: flex-end;}
.as-c{align-self: center;}
.df-w-w{flex-wrap: wrap;}
.just-c-bet{justify-content: space-between;}
.just-c-aro{justify-content: space-around;}
.just-c-end{justify-content: flex-end;}
.just-c-sta{justify-content: start;}
.just-c-ct{justify-content: center;}
.f1{flex:1;}
.one-hide{display:-webkit-box; -webkit-box-orient:vertical; -webkit-line-clamp:1; overflow:hidden; text-overflow:ellipsis;}
.two-hide{display:-webkit-box; -webkit-box-orient:vertical; -webkit-line-clamp:2; overflow:hidden; text-overflow:ellipsis;}
.fore-hide{display:-webkit-box; -webkit-box-orient:vertical; -webkit-line-clamp:4; overflow:hidden; text-overflow:ellipsis;}
.cur_point{cursor:pointer;}
.shadow{box-shadow: 0px 0px 6px 0px rgba(160, 160, 160, 0.8);}
.b{font-weight:bold;}
.fw_1{font-weight:100;}
.txt_r{text-align:right;}
.txt_c{text-align:center;}
.no_w{white-space:nowrap;}
.ws-pl{white-space:pre-line;}

.mt_10{margin-top:10px;}
.mt_20{margin-top:20px;}
.mt_30{margin-top:30px;}
.mt_40{margin-top:40px;}
.mt_50{margin-top:50px;}
.mt_60{margin-top:60px;}
.mt_80{margin-top:80px;}
.mt_90{margin-top:90px;}

.c_style{color:#14CC8F;}
.c_33{color:#333333;}
.c_66{color:#666666;}
.c_99{color:#999999;}
.c_ff{color:#ffffff;}

.fs_12{font-size:12px;}
.fs_14{font-size:14px;}
.fs_18{font-size:18px;}
.fs_20{font-size:20px;}
.fs_24{font-size:24px;}
.fs_26{font-size:26px;}
.fs_30{font-size:30px;}
.fs_36{font-size:36px;}
.fs_40{font-size:40px;}
.fs_48{font-size:48px;}
.fs_70{font-size:70px;}
.lh_36{line-height:36px;}

.com-btn{background:#14CC8F; height:36px; padding:0 16px; border:none; border-radius:4px; color:#ffffff;}
.com-btn.com-btn-bg{padding:0 30px; height:48px; line-height:48px; border-radius:24px;}

.caret {display: inline-block; width:0; height:0; margin-left:2px; vertical-align:middle; border-top:4px dashed; border-right:4px solid transparent; border-left:4px solid transparent; }
.dropdown-menu{position:absolute; top:100%; left:0; z-index:1000; display:none; float:left; min-width:160px; padding:5px 0; margin:2px 0 0; font-size:14px; text-align:left; list-style:none; background-color:#ffffff; -webkit-background-clip:padding-box; background-clip:padding-box; border:1px solid rgba(0,0,0,.15); border-radius:4px; box-shadow:0 6px 12px rgba(0,0,0,.175)}
.dropdown-menu>li>a{display: block; padding: 3px 20px; clear: both; font-weight: 400; line-height: 1.42857143; color: #333; white-space: nowrap;}
.dropdown-menu>li>a:hover,
.pagination>li>a, .pagination>li>span {color: #14CC8F;}
.btn-color,
.layui-form-select dl dd.layui-this,
.layui-laypage .layui-laypage-curr .layui-laypage-em,
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover{background:#14CC8F;}
.layui-btn-primary:hover{border-color:#14CC8F;}

#header{box-sizing:border-box; position:fixed; top:0; width:100%; height:114px; padding:0 60px; background:#ffffff; z-index:99;}
#header .icon{width:188px; height:80px;}
#header .nav>li{position:relative;}
#header .nav>li>a{display:block; position:relative; padding:10px 15px;}
#header .nav>li.active>a,
#header .nav>li.active>a:focus,
#header .nav>li.active>a:hover{color:#14CC8F;}
#header .userinfo{display:none;}
#header .userinfo a{color:#666666;}

#banner{width:100%; overflow:hidden;}
#banner .img{display:block; width:100%; height:auto;}

#footer{padding:60px 0; background:#ffffff;}
#footer .txt{width:470px;}
#footer .icon{width:220px; height:90px;}
#footer a{color:inherit;}

.main{padding-top:114px;}
.cont{width:1200px; margin-left:auto; margin-right:auto;}

.live-chat{position:fixed; z-index:99; top:270px; right:0; box-sizing:border-box; width:225px; height:70px; padding:0 10px 0 70px;}
.live-chat>*{position:relative;}
.live-chat .bg{position:absolute; width:100%; height:100%; top:0; left:0;}
.live-chat .button{ height:25px; border-radius:14px; border:none; background:#ffffff; }

.service{width:400px; height:600px; background:#ffffff; border-radius:8px;}
.service .tit{height:56px; padding:0 14px; background:#14CC8F;}
.service .tit .move{line-height:56px;}
.service .tit .cur_point{padding:6px;}
.service .tit .cur_point:hover{color:#dddddd;}
.service .dialog{padding:6px; background:#F7F7F7; overflow-y:auto;}
.service .dialog img{width:48px; height:48px; border-radius:50%; margin:0 12px; background:#ffffff;}
.service .dialog .txt{display:inline-block; margin-top:6px; padding:10px 14px; background:#ffffff; border-radius:2px; border:1px solid #EFEFEF; word-break:break-all;}
.service .dialog .other{display:flex; flex-direction:row; margin-top:16px;}
.service .dialog .me{display:flex; flex-direction:row-reverse; margin-top:16px;}
.service .dialog .me .title{text-align:right;}
.service .iptmsg{height:160px; border-top:1px solid #D8D8D8;}
.service .iptmsg textarea{display:block; width:100%; height:100%; border:none; padding:10px; background:#ffffff; resize:none;}
.service .iptmsg textarea:focus{outline:none;}
.service .iptmsg .button{position:absolute; right:10px; bottom:10px;}

.message{width:640px; height:400px; background:#ffffff;}
.message .title{position:relative; height:70px; background:#14CC8F;}
.message .title .cls{position: absolute; width:40px; height:40px; line-height:40px; right:20px; top:50%; margin-top:-20px; color:inherit; text-align:center;}
.message textarea{display:block; padding:20px; width:100%; height:220px; border-bottom:1px solid #EFEFEF; border:none; resize:none;}
.message .btn-box{padding-top:30px; text-align:center;}
.message .com-btn{padding:0 46px; height:46px; line-height:46px; border-radius:24px;}

/* index */
.block-1{height:960px; background:#ffffff;}
.block-2{height:960px; background:#F9F9FB;}
.block-1 .cont,
.block-2 .cont{height:100%;}
.block-1 .txt,
.block-2 .txt{max-width:500px;}
.block-3{position:relative;; height:598px;}
.block-3 .bg-img{position:absolute; width:100%; height:100%; top:0; left:0;}
.block-3>*{position:relative;}
.block-3 .carousel{width:940px; height:240px;}
.block-3 .carousel .item{overflow-y:auto;}
.block-3 .controls{height:130px;}
.block-3 .button{box-sizing:border-box; padding:0 20px; height:50px; border:1px solid #ffffff; border-radius:26px; background-color:transparent; color:#ffffff;}

/* list */
.search .layui-form-select{margin-right:16px;}
.list{height:680px; padding:0; margin-right:-64px;}
.list .item{width:360px; height:340px; margin-right:60px;}
.list .item>a{display:block; color:inherit;}
.list .item>a:hover{text-decoration:none;}
.list .item img{width:360px; height:240px;}
.list .nodata{width:100%; text-align:center; padding-top:60px;}

/* detail */
.detail-main .swiper-container {width:100%; height:375px;}
.detail-main .swiper-slide{width:560px; margin-right:30px;}
.detail-main .swiper-slide:last-child{margin-right:0;}
.detail-main .swiper-slide img{width:560px; height:375px;}
.page-cont{padding-bottom:50px;}
.page-cont .top-line{padding-top:30px; border-top:1px solid #E6E6E6;}
.page-cont .dt-ul li{margin-right:80px;}
.page-cont .dt-table{display:table;}
.page-cont .dt-table .tr{display:table-row;}
.page-cont .dt-table .td{display:table-cell;padding:15px 5px;}

/* formpage */
.form-main{padding-bottom:60px;}
.form-main .top-bg{position:relative; width:100%; height:330px;}
.form-main .top-bg>*{position:relative;}
.form-main .top-bg .img{position:absolute; top:0; left:0; width:100%; height:100%;}
.form-main .layui-form-label{width:200px;}
.form-main .layui-input-block{margin-left:230px; width:500px;}
.form-main .layui-input{width:500px;}
.form-main .layui-btn{width:160px; background:#14CC8F;}

/* conmmon */
.top-img-cont{position:relative; padding-top:200px; padding-bottom:60px;}
.top-img-cont>*{position:relative;}
.top-img-cont .bg-img{position:absolute; top:0; left:0; width:100%; height:300px;}

/* other */
.bot-table{width:100%;}
.bot-table td{padding:10px 30px; border-right:1px solid #d0d0d0;}
.bot-table td:last-child{border:none;}
.bot-table .thead td{padding:20px 30px; border-top:1px solid #d0d0d0; border-bottom:1px solid #d0d0d0; font-size:16px;}
.contactus-table td{width:190px; padding:24px 5px;}

/* login */
#loginbox{padding:40px; background:#ffffff;}
#loginbox .com-btn,
#loginbox .layui-input{width:100%; height:46px; line-height:46px;}
#loginbox .com-btn{border-radius:23px; font-size:20px;}
#loginbox .code-input{width:220px;}
#loginbox .getcode-btn{width:180px; height:46px; line-height:46px; color:#14CC8F; border-color:#14CC8F;}
